*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
*.keystore
*.hprof
/env
/build
/gecko
/gmscore
/patches/preferences/phoenix.js
/patches/preferences/phoenix-extended.js
/scripts/env_local.sh
/wasi-sdk
